<div class="mt-5">
  <div class="mb-5 flex controls">
    <button mat-raised-button color="accent" (click)="openDialog()">
      Add new Asset
    </button>
    <button mat-raised-button color="primary" (click)="submitWeightChanges()">
      Submit Weight Changes
    </button>
    <button mat-raised-button color="primary"  disabled (click)="submitAmountChanges()">
      Submit Amount Changes
    </button>
  </div>
  <hr />
  <table class="w-full font-mono" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Nr.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <app-address-box
          [address]="element.address"
          [length]="6"
        ></app-address-box>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>
        <div>Weight</div>
        <div class="text-teal-500">Max: 10000</div>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-form-field appearance="standard">
          <mat-label>Weight {{ element.symbol }}</mat-label>
          <input
            type="number"
            matInput
            name="weight-{{ i }}"
            [(ngModel)]="element.weight"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="perShareAmount">
      <th mat-header-cell *matHeaderCellDef>
        <div>Amount per Share</div>
        <div class="text-teal-500">Smallest Unit</div>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-form-field appearance="standard">
          <mat-label>Amount {{ element.symbol }}</mat-label>
          <input
            type="number"
            matInput
            disabled
            name="perShareAmount-{{ i }}"
            [(ngModel)]="element.perShareAmount"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
