<div class="mt-5 w-full">
    <table class="w-full font-mono" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">
                <app-address-box [address]="element.address" [length]="8"></app-address-box>
            </td>
        </ng-container>

        <ng-container matColumnDef="priceOrigin">
            <th mat-header-cell *matHeaderCellDef>Price Origin</th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip color="primary" selected>{{ PriceOrigin[element.priceOrigin] }}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="chainlinkAddress">
            <th mat-header-cell *matHeaderCellDef>Chainlink Address</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.chainlinkAddress">
                    <app-address-box [address]="element.chainlinkAddress" [length]="8"></app-address-box>
                </div>
                <div *ngIf="!element.chainlinkAddress">
                    <mat-chip-list>
                        <mat-chip color="accent" selected>Not Set</mat-chip>
                    </mat-chip-list>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="flex">
                    <div class="mx-2">
                        <button mat-raised-button color="primary"
                            (click)="openEditPriceOriginDialog(element.address)">Edit Price
                            Origin</button>
                    </div>
                    <div class="mx-2">
                        <button mat-raised-button color="accent"
                            (click)="openEditChainlinkAddressDialog(element.address)"
                            [disabled]="element.priceOrigin === 0">Edit Chainlink Address</button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>