<app-container [title]="title" icon="fa-flask" [isLoading]="isLoading" [isSubmitting]="isSubmitting"
    backUrl="/synthetic">

    <div class="w-full">
        <mat-tab-group>
            <mat-tab label="Details">
                <mat-card class="synthetic-card">
                    <mat-card-title>{{ synthetic?.name }} ({{ synthetic?.symbol }})</mat-card-title>
                    <mat-card-subtitle>
                        <app-address-box [address]="synthetic?.address" [length]="8"></app-address-box>
                    </mat-card-subtitle>
                    <mat-card-content class="mt-10">
                        <div class="grid grid-cols-6 gap-6 mb-5">
                            <div class="font-bold text-lg">Company</div>
                            <div class="text-lg text-purple-500 col-span-5">{{ synthetic?.companyName }}
                            </div>

                            <div class="font-bold text-lg">Company Id</div>
                            <div class="text-lg text-purple-500 col-span-5"> {{ synthetic?.companyId }}</div>

                            <div class="font-bold text-lg">Depot Id</div>
                            <div class="text-lg text-purple-500 col-span-5">{{ synthetic?.depotId }}</div>
                        </div>
                        <hr />
                        <div class="grid grid-cols-6 gap-6 mt-5">
                            <div class="font-bold text-lg">Balance</div>
                            <div class="text-lg text-teal-500 col-span-5">{{ synthetic?.nativeBalance }} {{ currency }}
                            </div>

                            <div class="font-bold text-lg">Price</div>
                            <div class="text-lg text-teal-500 col-span-5"> {{ synthetic?.price }} {{ currency }}</div>

                            <div class="font-bold text-lg">Total Supply</div>
                            <div class="text-lg text-teal-500 col-span-5">{{ synthetic?.totalSupply }}</div>
                        </div>
                    </mat-card-content>
                </mat-card>

            </mat-tab>
            <mat-tab label="Buy Orders">
                <table class="w-full" mat-table [dataSource]="buyOrderDataSource">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
                    </ng-container>

                    <ng-container matColumnDef="times">
                        <th mat-header-cell *matHeaderCellDef>
                            <div>Created</div>
                            <div class="text-teal-500">Completed</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div>
                                {{ element.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
                            </div>
                            <div class="text-slate-500" *ngIf="element.completedAt">
                                {{ element.completedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>State</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip-list>
                                <mat-chip color="primary" selected>{{ element.state }}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <div class="w-full text-center mt-5">
                    <button type="button" mat-raised-button color="primary" [disabled]="buyTo === 0"
                        (click)="loadMoreBuys()">Load more
                    </button>
                </div>
            </mat-tab>
            <mat-tab label="Sell Orders">
                <table class="w-full" mat-table [dataSource]="sellOrderDataSource">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
                    </ng-container>

                    <ng-container matColumnDef="times">
                        <th mat-header-cell *matHeaderCellDef>
                            <div>Created</div>
                            <div class="text-teal-500">Completed</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div>
                                {{ element.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
                            </div>
                            <div class="text-slate-500" *ngIf="element.completedAt">
                                {{ element.completedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>State</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip-list>
                                <mat-chip color="primary" selected>{{ element.state }}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <div class="w-full text-center mt-5">
                    <button type="button" mat-raised-button color="primary" [disabled]="sellTo === 0"
                        (click)="loadMoreSells()">Load more
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</app-container>