<form class="form-card">
    <div class="my-1 inputs">
        <mat-form-field appearance="fill" floatLabel="always" class="w-full">
            <mat-label>{{ fromLabel }}</mat-label>
            <input autocomplete="off" matInput name="fromAmount" placeholder="0" required
                [(ngModel)]="fromAmount" />
            <!-- <mat-hint>
                <b>Price: </b>
                <span class="animate__animated animate__flipInX" *ngIf="!priceLoading">{{ price }}</span>
                {{ currency }}
            </mat-hint> -->
        </mat-form-field>
        <div class="toggle">
            <div class="line"></div>
            <div>
                <button mat-mini-fab color="accent" (click)="toggleBuySell()">
                    <mat-icon>loop</mat-icon>
                </button>
            </div>
            <div class="line"></div>
        </div>
        <mat-form-field appearance="fill" floatLabel="always" class="w-full">
            <mat-label>{{ toLabel }}</mat-label>
            <input autocomplete="off"  matInput name="toAmount" disabled [(ngModel)]="toAmount" />
        </mat-form-field>
    </div>

    <div class="flex my-3">
        <div class="w-full">
            <button mat-raised-button class="w-full" color="accent">
                Submit
            </button>
        </div>
    </div>
</form>