<div class="font-mono">
  <label [for]="id" class="block text-sm font-medium leading-6 text-sky-900">{{ label }}</label>
  <div class="mt-2">
    <input
      type="text"
      [name]="name"
      [id]="id"
      class="block w-full rounded-md border-0 p-2 text-sky-900 shadow-sm ring-1 ring-inset ring-sky-300 placeholder:text-sky-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6"
      [value]="value"
      (input)="onChange(getValue($event))"
      [disabled]="isDisabled" />
  </div>
</div>
