<mat-card class="synthetic-card">
  <mat-card-title>{{ name }} ({{ symbol }})</mat-card-title>
  <mat-card-subtitle>
    <app-address-box [address]="address" [length]="8"></app-address-box>
  </mat-card-subtitle>
  <div class="synthetic-price">
    <mat-icon class="mr-2" fontSet="fa-solid" fontIcon="fa-tag"></mat-icon>
    <span>{{ price }} {{ currency }}</span>
  </div>
  <mat-card-content>
    <span><b>Balance: </b> {{ nativeBalance }} {{ currency }}</span>
    <table class="w-full" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="times">
        <th mat-header-cell *matHeaderCellDef>Created / Completed</th>
        <td mat-cell *matCellDef="let element">
          <div>
            {{ element.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
          </div>
          <div class="text-slate-500" *ngIf="element.completedAt">
            {{ element.completedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip color="primary" selected>{{ element.state }}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions class="p-3">
    <button mat-raised-button color="primary" (click)="loadOrders(0)">
      Load buy Orders
    </button>
    <button mat-raised-button color="accent" (click)="loadOrders(1)">
      Load sell Orders
    </button>
  </mat-card-actions>
</mat-card>
