<app-container
  title="Trading"
  icon="fa-arrow-right-arrow-left"
  [isLoading]="isLoading"
  [isSubmitting]="isSubmitting"
>
  <div class="w-full mb-5">
    <mat-tab-group>
      <mat-tab label="Buy Shares">
        <form class="form-card">
          <div class="my-1">
            <mat-form-field appearance="standard" class="w-full">
              <mat-label>Number of shares to buy</mat-label>
              <input
                autocomplete="off"
                type="number"
                step="1"
                matInput
                name="shareCount"
                placeholder="Number of Shares"
                required
                [(ngModel)]="shareCount"
              />
            </mat-form-field>
          </div>

          <div class="flex my-3">
            <div>
              <button mat-raised-button color="accent" (click)="buyShares()">
                Buy
              </button>
            </div>
            <div class="price">
              <b>Price: </b>
              <span
                class="animate__animated animate__flipInX"
                *ngIf="!priceLoading"
                >{{ sharePrice }}</span
              >
              {{ currency }}
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Sell Shares">
        <form class="form-card">
          <div class="my-1">
            <mat-form-field appearance="standard" class="w-full">
              <mat-label>Number of shares to sell</mat-label>
              <input
                autocomplete="off"
                type="number"
                step="1"
                matInput
                name="shareCount"
                placeholder="Number of Shares"
                required
                [(ngModel)]="shareCount"
              />
            </mat-form-field>
          </div>

          <div class="flex my-3">
            <div>
              <button mat-raised-button color="accent" (click)="sellShares()">
                Sell
              </button>
            </div>
            <div class="price">
              <b>Price: </b>
              <span
                class="animate__animated animate__flipInX"
                *ngIf="!priceLoading"
                >{{ sharePrice }}</span
              >
              {{ currency }}
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-container>
