<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <strong class="ml-2">Enceladus </strong>
  <mat-icon
    class="ml-2 fa-2x animate__animated animate__fadeInUpBig text-teal-500"
    fontSet="fa"
    fontIcon="fa-rocket"
  ></mat-icon>
  <span class="spacer"></span>
  <app-wallet-connector></app-wallet-connector>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-menu [items]="menuItems" (navigated)="sidenav.toggle()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <!-- <app-loading-screen></app-loading-screen> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
