<div class="mt-5 w-full" *ngIf="mutableProperties">
  <div class="mb-5 flex controls">
    <button mat-raised-button color="primary" (click)="submit()">
      Submit Changes
    </button>
  </div>
  <hr />
  <div class="grid grid-cols-3 gap-6 my-6">
    <div class="bg">
      <div class="text-center mb-8">
        <h3>Locked</h3>
      </div>
      <div class="text-center">
        <mat-checkbox [(ngModel)]="mutableProperties.isLocked"
          >Disabling all access to the contract.</mat-checkbox
        >
      </div>
    </div>
    <div class="bg">
      <div class="text-center">
        <h3>Rebalancing Tolerance</h3>
      </div>
      <mat-form-field appearance="standard" class="w-full">
        <input
          autocomplete="off"
          type="number"
          step="0.1"
          matInput
          name="rebalancingTolerance"
          required
          [(ngModel)]="mutableProperties.rebalancingTolerance"
        />
      </mat-form-field>
    </div>
    <div class="bg">
      <div class="text-center">
        <h3>Cash Reserve Ratio</h3>
      </div>
      <mat-form-field appearance="standard" class="w-full">
        <input
          class="font-mono"
          autocomplete="off"
          type="number"
          step="0.1"
          matInput
          name="cashReserveRatio"
          required
          [(ngModel)]="mutableProperties.cashReserveRatio"
        />
      </mat-form-field>
    </div>
  </div>
</div>
