.bg {
    background-color: #303030;
    padding: 25px;
    border-radius: 20px;
    h3 {
        color: #7b1fa2;
        margin-bottom: 25px;
    }
}

.pie-chart {
    width: 400px;    
    background-color: #303030;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    h3 {
        color: #7b1fa2;
        margin-bottom: 25px;
    }
}