<app-container
  title="Dashboard"
  icon="fa-gauge"
  [isLoading]="isLoading"
  [isSubmitting]="isSubmitting"
>
  <div class="w-full">
    <div class="grid grid-cols-3 gap-6 my-6">
      <div class="col-span-3">
        <app-metric-box
          title="Fund Address"
          [metric]="fundProperties?.fundAddress"
          [toCopy]="fundProperties?.fundAddress"
          [isLoading]="isContractLoading"
          [copyEnabled]="true"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Owner Address"
          [metric]="fundProperties?.ownerAddress | shortAddress: 8"
          [toCopy]="fundProperties?.ownerAddress"
          [isLoading]="isContractLoading"
          [copyEnabled]="true"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Oracle Address"
          [metric]="fundProperties?.oracleAddress | shortAddress: 8"
          [toCopy]="fundProperties?.oracleAddress"
          [isLoading]="isContractLoading"
          [copyEnabled]="true"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Treasury Address"
          [metric]="fundProperties?.treasuryAddress | shortAddress: 8"
          [toCopy]="fundProperties?.treasuryAddress"
          [isLoading]="isContractLoading"
          [copyEnabled]="true"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Total Fund Shares Outstanding"
          [metric]="fundProperties?.totalSupply"
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Number of Shareholders"
          [metric]="fundProperties?.numberOfShareholders"
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Fund Share Price"
          [metric]="fundProperties?.sharePrice + ' ' + currency"
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-6 my-6">
      <div>
        <app-metric-box
          title="Number of included Assets"
          [metric]="fundProperties?.numberOfAssets"
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Total Fund Value"
          [metric]="
            (fundProperties?.sharePrice * fundProperties?.totalSupply
              | number: '1.2-2') +
            ' ' +
            currency
          "
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
      <div>
        <app-metric-box
          title="Reserve Balance"
          [metric]="
            (fundProperties?.reserveBalance | number: '1.2-2') +
            ' ' +
            currency
          "
          [isLoading]="isContractLoading"
        ></app-metric-box>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-2 my-6">
      <div class="pie-chart">
        <h3 class="font-bold">Asset Allocation</h3>
        <mat-progress-bar
          *ngIf="isContractLoading"
          mode="query"
        ></mat-progress-bar>
        <canvas
          *ngIf="!isLoading"
          baseChart
          [data]="pieChartData"
          [type]="'pie'"
          [options]="pieChartOptions"
        >
        </canvas>
      </div>
      <div class="col-span-2 bg">
        <div class="text-center">
          <h3 class="font-bold">List of Assets</h3>
        </div>
        <mat-progress-bar
          *ngIf="isContractLoading"
          mode="query"
        ></mat-progress-bar>
        <table class="w-full font-mono" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Nr.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">
              <app-address-box [address]="element.address" [length]="5"></app-address-box>
            </td>
          </ng-container>

          <ng-container matColumnDef="perShareAmount">
            <th mat-header-cell *matHeaderCellDef>
              <div>Amount per Share</div>
              <div class="text-teal-500">Smallest Unit</div>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.perShareAmount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="assetType">
            <th mat-header-cell *matHeaderCellDef>Asset Type</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip>
                  {{ AssetTypes[element.assetType] }}
                </mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.price }} {{ currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip>
                  {{ element.weight / 10000 | percent: '1.2-2' }}
                </mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</app-container>
