.wallet-connector {
    width: 95%;
    margin: 20px 10px;
    display: flex;
    
    button {
      width: 100%;
      text-align: left;
      padding-left: 20px;
    }

    .network {
      margin-right: 15px;
    }
}