<div class="wallet-connector">
  <div class="network">
    <button mat-flat-button [matMenuTriggerFor]="networkMenu">
      <mat-icon class="mr-2" fontSet="fa" fontIcon="fa-circle-nodes"></mat-icon>
      {{ selectedNetwork }}
    </button>
    <mat-menu #networkMenu="matMenu" xPosition="after">
      <button mat-menu-item *ngFor="let network of networks" (click)="selectNetwork(network)">
        {{ network.name }}
      </button>
    </mat-menu>
  </div>
  <div *ngIf="authenticated">
    <button mat-flat-button [matMenuTriggerFor]="menu">
      <mat-icon class="mr-2" fontSet="fa" fontIcon="fa-wallet"></mat-icon>
      {{ text }}
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item (click)="copyAddress()">Copy Address</button>
      <button mat-menu-item (click)="disconnect()">Disconnect</button>
    </mat-menu>
  </div>
  <div *ngIf="!authenticated">
    <button mat-stroked-button (click)="connect()">
      <span>Connect Wallet</span>
    </button>
  </div>
</div>
